@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;

  @apply flex flex-col items-center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  @apply w-full max-w-screen-2xl;
}

@layer base {
  :root {
    /* Primary Colors */
    --primary-logo: rgba(255, 0, 0, 1);

    /* Accessory colours */
    --accessory-search: rgba(222, 217, 217, 0.8);
    --accessory-profile: rgba(54, 167, 201, 1);
  }
}

:root {
  /* White Background */
  --dark-background: rgb(243, 243, 243);
  --dark-text: rgb(0, 0, 0);
  --dark-channel: rgb(227, 227, 227);
}

html.dark {
  --dark-background: rgb(74, 74, 74);
  --dark-text: rgb(243, 243, 243);
  --dark-channel: rgb(100 116 139);
}
